:root {
    --bg-color: #d0604c;
    --max-margin: 70%;
  }

body {
  background-color: #390b00;
  color: white;
  max-width: var(--max-margin);
  margin-right: auto;
  margin-left: auto;
}

header {
  margin: 2rem;
}

header img {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.6rem;
  background-color: var(--bg-color);
  text-align: center;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  font-size: 1.4rem;
  padding: 0.8rem;
  margin: 0;
  transition: 0.5s;
}

li:hover {
  background-color: #390b00;
}

a {
  text-decoration: none;
  color: white;
}

.promo-section {
  width: 100%;
  height: 30vh;
  overflow: hidden;
  border-radius: 10px;
}

.promo-background {
  /* background-image: url("public/hairsalon.jpg");
  background-position: center;
  background-size: cover; */
  position: absolute;
  height: 30vh;
  width: var(--max-margin);
  margin-top: 20px;
  border-radius: 10px;
  /* filter: grayscale(80%); */
  opacity: 0.5;
  /* transition: all .5s; */
  z-index: 10;
}

.promo-background:hover {
  transform: scale(1.4);
}

.promo-content {
  position: absolute;
  padding: 0 20px;
  margin-top: 20px;
  max-width: var(--max-margin);
  z-index: 11;
}

.promo-content h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

.promo-content p {
    font-size: 1.1rem;
}

.info-section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.info {
    background-color: var(--bg-color);
    text-align: center;
    max-width: 33.333%;
}

.info img {
    width: 90%;
    height: 250px;
    border-radius: 10px;
}

.info p {
    text-align: left;
    padding: 0 10px 0 20px;
}

.info button {
    background: none;
    color: white;
    border: 2px solid #390b00;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    transition: 0.5s;
}


.info button:hover {
    background-color: #390b00;
}